<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basics">
    <test verbose="2" preserve-order="true" name="Login Test">
        <classes>
            <class name="com.w2a.testcases.LoginTest"></class>
        </classes>
    </test>
</suite>